auto-install-peers=true
public-hoist-pattern[]=*@heroui/*
public-hoist-pattern[]=express
public-hoist-pattern[]=@nestjs/*
public-hoist-pattern[]=@supabase/*
public-hoist-pattern[]=class-validator
public-hoist-pattern[]=class-transformer
public-hoist-pattern[]=reflect-metadata
public-hoist-pattern[]=rxjs
public-hoist-pattern[]=nestjs-pino
public-hoist-pattern[]=pino
public-hoist-pattern[]=pino-http
public-hoist-pattern[]=pino-pretty
